@charset "ISO-8859-1";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color:#640D5F;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

header .navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

header .navbar a:hover {
    color:#000000;
}


/* Products section */
.products-section {
    padding: 2rem;
    text-align: center;
}

.products-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.product {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
}

.product h3 {
    margin: 1rem 0 0.5rem 0;
}

.product p {
    color: #ff523b;
    font-size: 1.2rem;
    font-weight: bold;
}
